<article>
  <h1 class="article-title"><%= @article.title %></h1>

  <p>
  <strong>作成者:</strong>
  <%= @article.user.username %>
  </p>

  <p>
  <strong>作成日:</strong>
  <%= l @article.created_at %>
  </p>

  <p>
  <strong>更新日:</strong>
  <%= l @article.updated_at %>
  </p>

  <% if @article.published_at %>
    <p>
    <strong>公開日:</strong>
    <%= l @article.published_at %>
    </p>
  <% else %>
    <strong>非公開</strong>
  <% end %>

  <div class="article-body">
    <%= simple_format @article.body %>
  </div>
</article>

<%= react_component('ShowArticle', @article.attributes.slice('username', 'title', 'body')) %>
