<header class="navbar navbar-expand-md navbar-dark bg-vivid">
  <%= link_to 'Blogw', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsApp" aria-controls="navbarsApp" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <nav id="navbarsApp" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><%= link_to 'Top', root_path, class: "nav-link #{active_if_now(root_path)}" %></li>
      <li class="nav-item"><%= link_to 'Articles', articles_path, class: "nav-link #{active_if_now(articles_path)}" %></li>
      <li class="nav-item"><%= link_to 'Pages', pages_path, class: "nav-link #{active_if_now(pages_path)}" %></li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'Home', home_root_path, class: "nav-link #{active_if_now(home_root_path)}" %></li>
      <% end %>
    </ul>
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav-link text-white-50" %></li>
      <% else %>
        <li class="nav-item"><%= link_to 'ログイン', new_user_session_path, class: "nav-link text-light" %></li>
        <li class="nav-item"><%= link_to '登録', new_user_registration_path, class: "btn btn-light text-danger" %></li>
      <% end %>
    </ul>
  </nav>
</header>
