<!DOCTYPE html>
<html>
  <head>
    <title>Blogw</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'header' %>

    <main class="body-main bg-light text-dark">
      <%= yield %>
    </main>

    <footer class="body-footer bg-light text-muted text-center small">
      © 2020 Honda, Jun
    </footer>
  </body>
</html>
